appdirs==1.4.4
asn1crypto==1.4.0
attrs==21.4.0
audioread==2.1.9
bokeh==2.4.2
brotlipy==0.7.0
build==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
croniter==0.3.36
cryptography==36.0.0
cycler==0.11.0
cytoolz==0.11.2
dask==2021.12.0
dask-glm==0.2.0
dask-ml==2021.11.30
decorator==4.4.2
distributed==2021.12.0
docker==5.0.3
docker-pycreds==0.4.0
Flask==2.0.2
fonttools==4.28.5
fsspec==2021.11.1
greenlet==1.1.2
HeapDict==1.0.1
idna==3.1
imageio==2.13.5
imageio-ffmpeg==0.4.5
imbalanced-learn==0.8.1
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
librosa==0.8.1
lightgbm==3.3.1
llvmlite==0.37.0
locket==0.2.0
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-oneofschema==3.0.1
matplotlib==3.5.1
more-itertools==8.12.0
moviepy==1.0.1
msgpack==1.0.3
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
natsort==8.0.2
numba==0.54.1
numpy==1.20.3
olefile==0.46
packaging==21.3
pandas==1.3.5
partd==1.2.0
pendulum==2.1.2
pep517==0.12.0
Pillow==8.4.0
pip==21.3.1
pluggy==1.0.0
pooch==1.5.2
prefect==0.15.11
proglog==0.1.9
psutil==5.9.0
py==1.11.0
pyaml==20.4.0
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
PySocks==1.7.1
pytest==6.2.5
python-box==5.4.1
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
pytzdata==2020.1
PyYAML==6.0
requests==2.26.0
resampy==0.2.2
ruamel.yaml==0.17.19
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scikit-optimize==0.9.0
scipy==1.7.3
setuptools==60.2.0
soundfile==0.10.*
six==1.16.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
SQLAlchemy==1.4.29
tabulate==0.8.9
tblib==1.7.0
text-unidecode==1.3
threadpoolctl==3.0.0
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
typing_extensions==4.0.1
unicodedata2==14.0.0
Unidecode==1.3.2
urllib3==1.26.7
websocket-client==1.2.3
Werkzeug==2.0.1
wheel==0.37.1
zict==2.0.0
zipp==3.6.0
